Node-Red/Detector_Sintomas_COVID.json
[
    [
        {
            "id": "8ea5969e95624cd4",
            "type": "tab",
            "label": "Flow 8",
            "disabled": false,
            "info": "",
            "env": []
        },
        {
            "id": "159d9d0ab3caa6c7",
            "type": "mqtt in",
            "z": "8ea5969e95624cd4",
            "name": "",
            "topic": "codigoIoT/detectorSintomas/flow",
            "qos": "2",
            "datatype": "json",
            "broker": "a063a623351f88f4",
            "nl": false,
            "rap": true,
            "rh": 0,
            "inputs": 0,
            "x": 210,
            "y": 160,
            "wires": [
                [
                    "df6b85184e976f25",
                    "06257f8efbd8a9ab",
                    "1f4b30be0d76cfec",
                    "fae2a3729931e11d"
                ]
            ]
        },
        {
            "id": "fae2a3729931e11d",
            "type": "debug",
            "z": "8ea5969e95624cd4",
            "name": "debug 1",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "true",
            "targetType": "full",
            "statusVal": "",
            "statusType": "auto",
            "x": 580,
            "y": 80,
            "wires": []
        },
        {
            "id": "df6b85184e976f25",
            "type": "function",
            "z": "8ea5969e95624cd4",
            "name": "Oxigenación",
            "func": "if(msg.payload.spo2v == 1){\n    msg.payload = msg.payload.spo2;\n    global.set(\"spo2\", msg.payload);\n    return msg;\n}",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 550,
            "y": 160,
            "wires": [
                [
                    "940844ac2c7cd35e"
                ]
            ]
        },
        {
            "id": "940844ac2c7cd35e",
            "type": "ui_gauge",
            "z": "8ea5969e95624cd4",
            "name": "",
            "group": "3d9f602fce7e618e",
            "order": 1,
            "width": 0,
            "height": 0,
            "gtype": "wave",
            "title": "Oxigenación",
            "label": "spo2",
            "format": "{{value}}",
            "min": 0,
            "max": "100",
            "colors": [
                "#00b500",
                "#e6e600",
                "#ca3838"
            ],
            "seg1": "",
            "seg2": "",
            "className": "",
            "x": 890,
            "y": 160,
            "wires": []
        },
        {
            "id": "1f4b30be0d76cfec",
            "type": "function",
            "z": "8ea5969e95624cd4",
            "name": "Temperatura",
            "func": "msg.payload = msg.payload.tir;\nglobal.set(\"temp\", msg.payload);\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 550,
            "y": 200,
            "wires": [
                [
                    "1790c2516f723db3"
                ]
            ]
        },
        {
            "id": "1790c2516f723db3",
            "type": "ui_gauge",
            "z": "8ea5969e95624cd4",
            "name": "",
            "group": "3d9f602fce7e618e",
            "order": 2,
            "width": 0,
            "height": 0,
            "gtype": "gage",
            "title": "Temperatura",
            "label": "°C",
            "format": "{{value}}",
            "min": 0,
            "max": "40",
            "colors": [
                "#0094ce",
                "#00b500",
                "#ca3838"
            ],
            "seg1": "36",
            "seg2": "37",
            "className": "",
            "x": 890,
            "y": 200,
            "wires": []
        },
        {
            "id": "06257f8efbd8a9ab",
            "type": "function",
            "z": "8ea5969e95624cd4",
            "name": "Ritmo cardiaco",
            "func": "if(msg.payload.hrv == 1){\n    msg.payload = msg.payload.hr;\n    global.set(\"hr\", msg.payload);\n    return msg;\n}",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 560,
            "y": 240,
            "wires": [
                [
                    "aa99f5524773a018"
                ]
            ]
        },
        {
            "id": "aa99f5524773a018",
            "type": "ui_gauge",
            "z": "8ea5969e95624cd4",
            "name": "",
            "group": "3d9f602fce7e618e",
            "order": 3,
            "width": 0,
            "height": 0,
            "gtype": "gage",
            "title": "Ritmo cardiaco",
            "label": "BPM",
            "format": "{{value}}",
            "min": "0",
            "max": "120",
            "colors": [
                "#ca3838",
                "#0094ce",
                "#ca3838"
            ],
            "seg1": "60",
            "seg2": "80",
            "className": "",
            "x": 900,
            "y": 240,
            "wires": []
        },
        {
            "id": "7ce2682ff65757ab",
            "type": "ui_text_input",
            "z": "8ea5969e95624cd4",
            "name": "",
            "label": "Nombre del paciente",
            "tooltip": "",
            "group": "2b5064bc988356d9",
            "order": 1,
            "width": 0,
            "height": 0,
            "passthru": true,
            "mode": "text",
            "delay": 300,
            "topic": "topic",
            "sendOnBlur": true,
            "className": "",
            "topicType": "msg",
            "x": 260,
            "y": 360,
            "wires": [
                [
                    "4aba686eb5935dc8"
                ]
            ]
        },
        {
            "id": "de815e39eb53027e",
            "type": "ui_text_input",
            "z": "8ea5969e95624cd4",
            "name": "",
            "label": "Correo electrónico",
            "tooltip": "",
            "group": "2b5064bc988356d9",
            "order": 2,
            "width": 0,
            "height": 0,
            "passthru": true,
            "mode": "email",
            "delay": 300,
            "topic": "topic",
            "sendOnBlur": true,
            "className": "",
            "topicType": "msg",
            "x": 270,
            "y": 400,
            "wires": [
                [
                    "101c1fc3cd6864ec"
                ]
            ]
        },
        {
            "id": "4aba686eb5935dc8",
            "type": "function",
            "z": "8ea5969e95624cd4",
            "name": "Nombre del paciente",
            "func": "global.set(\"paciente\", msg.payload)\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 580,
            "y": 360,
            "wires": [
                []
            ]
        },
        {
            "id": "101c1fc3cd6864ec",
            "type": "function",
            "z": "8ea5969e95624cd4",
            "name": "Correo del paciente",
            "func": "global.set(\"correo\", msg.payload)\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 570,
            "y": 400,
            "wires": [
                []
            ]
        },
        {
            "id": "76c5a068bd797067",
            "type": "ui_button",
            "z": "8ea5969e95624cd4",
            "name": "",
            "group": "2b5064bc988356d9",
            "order": 3,
            "width": 0,
            "height": 0,
            "passthru": false,
            "label": "Realizar diagnostico",
            "tooltip": "",
            "color": "",
            "bgcolor": "",
            "className": "",
            "icon": "",
            "payload": "",
            "payloadType": "date",
            "topic": "topic",
            "topicType": "msg",
            "x": 260,
            "y": 480,
            "wires": [
                [
                    "8d52ad7be74273a4"
                ]
            ]
        },
        {
            "id": "8d52ad7be74273a4",
            "type": "function",
            "z": "8ea5969e95624cd4",
            "name": "Realizar diagnostico",
            "func": "if((global.get(\"temp\") > 35.5 && global.get(\"temp\") < 36.5) && (global.get(\"hr\") > 60 && global.get(\"hr\") < 90) && (global.get(\"temp\") < 90)){\n    msg.payload = \"Signos vitales normales\";\n    global.set(\"protodiagnostico\", msg.payload);\n    msg.to = global.get(\"correo\");\n    msg.topic = \"Protodiagnostico covid\";\n    return msg;\n}\nelse{\n    msg.payload = \"Signos vitales anormales, se le recomienda visitara a un médico\";\n    global.set(\"protodiagnostico\", msg.payload);\n    msg.to = global.get(\"correo\");\n    msg.topic = \"Protodiagnostico covid\";\n    return msg;\n}",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 580,
            "y": 480,
            "wires": [
                [
                    "bb621bea92d93ccf",
                    "32f1fefbcf0a60b9",
                    "47768da09ed2b2f6"
                ]
            ]
        },
        {
            "id": "bb621bea92d93ccf",
            "type": "ui_audio",
            "z": "8ea5969e95624cd4",
            "name": "",
            "group": "2b5064bc988356d9",
            "voice": "urn:moz-tts:speechd:Spanish%20(Spain)?es",
            "always": "",
            "x": 880,
            "y": 480,
            "wires": []
        },
        {
            "id": "5a36718aedfb30dd",
            "type": "mysql",
            "z": "8ea5969e95624cd4",
            "mydb": "f9f16f53442fa915",
            "name": "",
            "x": 1190,
            "y": 600,
            "wires": [
                []
            ]
        },
        {
            "id": "32f1fefbcf0a60b9",
            "type": "function",
            "z": "8ea5969e95624cd4",
            "name": "Querry",
            "func": "msg.topic = \"INSERT INTO registro (nombre,correo,temp,bpm,sp02,protodiagnostico) VALUES ('\" + global.get (\"paciente\") + \"','\" + global.get (\"correo\") + \"',\" + global.get (\"temp\") + \",\" + global.get (\"hr\") + \",\" + global.get (\"spo2\") + \",'\" + global.get(\"protodiagnostico\") + \"');\";\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 870,
            "y": 600,
            "wires": [
                [
                    "5a36718aedfb30dd"
                ]
            ]
        },
        {
            "id": "47768da09ed2b2f6",
            "type": "e-mail",
            "z": "8ea5969e95624cd4",
            "server": "smtp-mail.outlook.com",
            "port": "587",
            "secure": false,
            "tls": false,
            "name": "",
            "dname": "",
            "x": 870,
            "y": 540,
            "wires": []
        },
        {
            "id": "a063a623351f88f4",
            "type": "mqtt-broker",
            "name": "",
            "broker": "localhost",
            "port": "1883",
            "clientid": "",
            "autoConnect": true,
            "usetls": false,
            "protocolVersion": "4",
            "keepalive": "60",
            "cleansession": true,
            "birthTopic": "",
            "birthQos": "0",
            "birthPayload": "",
            "birthMsg": {},
            "closeTopic": "",
            "closeQos": "0",
            "closePayload": "",
            "closeMsg": {},
            "willTopic": "",
            "willQos": "0",
            "willPayload": "",
            "willMsg": {},
            "userProps": "",
            "sessionExpiry": ""
        },
        {
            "id": "3d9f602fce7e618e",
            "type": "ui_group",
            "name": "Signos",
            "tab": "2ca77ea71ccea7a6",
            "order": 1,
            "disp": true,
            "width": "6",
            "collapse": false,
            "className": ""
        },
        {
            "id": "2b5064bc988356d9",
            "type": "ui_group",
            "name": "Datos del paciente",
            "tab": "2ca77ea71ccea7a6",
            "order": 2,
            "disp": true,
            "width": "6",
            "collapse": false,
            "className": ""
        },
        {
            "id": "f9f16f53442fa915",
            "type": "MySQLdatabase",
            "name": "",
            "host": "127.0.0.1",
            "port": "3306",
            "db": "detectorsintomas",
            "tz": "",
            "charset": "UTF8"
        },
        {
            "id": "2ca77ea71ccea7a6",
            "type": "ui_tab",
            "name": "Detector sintomas covid",
            "icon": "dashboard",
            "order": 6,
            "disabled": false,
            "hidden": false
        }
    ]